<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <filter>
  	<filter-name>DBConnec</filter-name>
  	<display-name>DBConnec</display-name>
  	<description></description>
  	<filter-class>com.bizviz.ccat.filter.DBConnec</filter-class>
  </filter>
  <filter-mapping>
  	<filter-name>DBConnec</filter-name>
  	<url-pattern>/qwer</url-pattern>
  </filter-mapping>
  <servlet>
  	<servlet-name>Set_Test</servlet-name>
  	<display-name>Set_Test</display-name>
  	<description></description>
  	<servlet-class>com.bizviz.ccat.control.Set_Test</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>BeginTest</servlet-name>
  	<display-name>BeginTest</display-name>
  	<description></description>
  	<servlet-class>com.bizviz.ccat.control.BeginTest</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>Set_Test</servlet-name>
  	<url-pattern>/SetTest</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>BeginTest</servlet-name>
  	<url-pattern>/BeginTest</url-pattern>
  </servlet-mapping>
</web-app>
